*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;

}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px 30px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}


.item_active > .item__btn{
    background-color: #50C878;
    border-color: #fff;
    color: #fff;
}
.item:hover{
    box-shadow: 1px 1px 8px #50C878 ;
    border-color: #fff;
}

.item__title{
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}


.item__text{
    text-align: center;
    max-width: 300px;
    font-weight: 200;
    margin-top: 20px;
}

.item__btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 100px;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.item__btn > span{
    margin: 0 5px;
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 920px;
    }
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
    


}
@media screen and (max-width:992px) {
    .container{
        max-width: 780px;
    }
}
@media screen and (max-width:768px) {
    .container{
        max-width: 526px;
    }
    .items{
        grid-template-columns: 1fr;
    }
    .item{
        padding: 30px 15px;
    }
}


@media screen and (max-width:576px) {
    .container{
        max-width: 300px;
    }
    .items{
        padding: 2px ;
    }
    .item{
        padding: 10px;
    }

}
@media screen and (max-width:400px) {
    .container{
        margin: 0 auto;
        max-width: none;
    }
    .items{
        width: 114%;
    }
    .item{
        margin: 0 5px 0 2px;
        padding: 20px;
    }
}